.is-big {
  font-size: 20vw;
}

.is-scrolled {
  height: calc(90vh - 10vh);
}

@media (max-width: 850px) {
  .is-big {
    position: relative !important;
    font-size: 18vw;
    margin-left: -10px;
    text-align: center;
  }
}
