body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  background-color: $bg;
  color: $primary;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

footer {
  background-color: $secondary;
}

a {
  color: $primary;
}

/* #menu-nav-1,
#menu-nav-2 {
  position: fixed;
  z-index: 999;
}

#menu-nav-1 {
  top: 0;
}

#menu-nav-2 {
  bottom: 0;
} */


.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.home {
  background-image: url("../images/swans-01.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.logo-big {
  height: 5vh;
}

.full {
  height: 100vh;
}

.hero {
  max-width: 100vw;
  max-height: auto;
}

.secondary {
  background-color: $secondary;
}

.is-above {
  z-index: 999;
}

.is-fixed {
  position: fixed;
}

.serif {
  font-family: $font-family-serif;
  font-size: 36px;
  font-weight: 500;
}

.letter-spacing-small {
  line-height: -10em;
  letter-spacing: -2px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@media (max-width: 850px) {
  .col-6 {
    flex: 1 0 0 !important;

    .home {
      max-width: 100% !important;
    }
  }
}
