@media (max-width: 450px) {
  .what {
    margin-top: 17vh !important;
    display: block !important;
    flex-wrap: wrap !important;

    .is-fixed {
      position: relative;
    }
    
    .col-6 {
      max-width: 100% !important;

      .m-5 {
        margin-top: 2.5vh !important;
      }
    }
  }
}
