.what {
  .is-scrolled {
    margin-top: 4vw;
    max-height: 100vh !important;
  }
}

@media (max-width: 850px) {
  .what {
    margin-top: 12vw !important;

    .is-scrolled {
      margin-top: 0;
      height: calc(95vh - 10vh);
    }
  }
}

@media (max-width: 450px) {
  .what {
    margin-top: 17vh !important;
    display: block !important;
    flex-wrap: wrap !important;

    .is-scrolled {
      margin-top: 7vw;
    }

    .is-fixed {
      position: relative;
    }
    
    .col-6 {
      max-width: 100% !important;

      .m-5 {
        margin-top: 2.5vh !important;
      }
    }
  }
}
